%h1 ログイン

=form_with scope: :session, local: true do |f|
  .form-group
    =f.label :email, 'メールアドレス'
    =f.text_field :email, class: 'form-control', id: 'session_email'
  .form-group
    =f.label :password, 'パスワード'
    =f.password_field :password, class: 'form-control', id: 'session_password'
  =f.submit 'ログインする', class: 'btn btn-primary'
