document.querySelector("#task-<%= @task.id %>").style.display = 'none';

var message = document.createElement('p')
message.innerText = 'タスク「<%= @task.name %>」を削除しました。残りのタスクは<%= Task.count %>件です。';
document.querySelector('table').insertAdjacentElement('beforebegin', message);