%h1 タスクの詳細

.nav.justify-content-end
  = link_to '一覧', tasks_path, class: 'nav-link'
%table.table.table-hover
  %tbody
    %tr
      %th= Task.human_attribute_name(:id)
      %tf= @task.id
    %tr
      %th= Task.human_attribute_name(:name)
      %td= @task.name
    %tr
      %th= Task.human_attribute_name(:description)
      %td= simple_format(h(@task.description), {}, sanitaize: false, wrapper_tag: "div")
    %tr
      %th= Task.human_attribute_name(:image)
      %td= image_tag @task.image if @task.image.attached?
    %tr
      %th= Task.human_attribute_name(:created_at)
      %td= @task.created_at
    %tr
      %th= Task.human_attribute_name(:updated_at)
      %td= @task.updated_at

= link_to '編集', edit_task_path, class: 'btn btn-primary mr-3'
= link_to '削除', @task, method: :delete, data: { confilm: "タスク「#{@task.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger'